@charset "utf-8";
/* CSS Document */

.about-right{
	z-index: 3;
	/*color: #111;*/
    color: #2a2f46;
    text-align: justify;
	padding: 20px 0 0 40px;
}
.about-right p {
	line-height: 25px;
}
.section-salutation::after {
	background-color: rgba(238, 238, 238, 0.5)
}
.title-section-left{
	/*color: #111 */
    color: #2a2f46
}


#press-title {
	color: white
}
.free-started {
    background-image: url(../images/about-press.svg);
    background-size: cover;
    background-position: center center;
    padding-top: 76px;
    padding-bottom: 0;
}
#icon-press {
	width: 50%;
	margin: auto;
	margin-right: 40px;
}
.about-top {
	padding-top: 120px
}
div.container::after {
	opacity: 0
}

.item-join a {
    position: relative;
    top: 0;
    border: 1px solid #7e8596;
    border-radius: 50%;
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 23px;
    text-align: center;
    transition: all .3s ease;
    margin: 0 auto;
    line-height: 0;
    font-size: 50px;
	transition: all .2s ease-in-out;
	
	    
}

.item-join a:hover {
    top: -10px;
	 transform: scale(1.1);
}

.item-join .item-join-heading {
    margin: 20px 0;
    font-weight: 100;
}

.item-join:hover .item-join-heading {
    color: #e62b1e;
}
.item-join h5 {
	display: none;
}
#abo-fb a:hover + #abt-fb {
    display: inline;
	transition: all .2s ease-in-out;
}
#abo-tw a:hover + #abt-tw {
    display: inline;
}
#abo-fl a:hover + #abt-fl {
    display: inline;
}
#abo-ig a:hover + #abt-ig {
    display: inline;
}
#abo-in a:hover + #abt-in {
    display: inline;
	margin: 0px;
}
.item-join a:focus {
	color: #e62b1e
}