@charset "utf-8";
/* CSS Document */
.form-control-style {
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #111;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-control-style:focus {
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #e62b1e;
    border-radius: 0;
    box-shadow: none;
    color: #111;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-submit {
	background-color: #e62b1e;
	border: none
}
.btn-submit:hover {
	background-color: #111
}

.form-control-style:focus::-webkit-input-placeholder {
    color: rgba(17,17,0,0.5);
}

.form-control-style:focus::-moz-placeholder {
    color: rgba(17,17,0,0.5);
}

.form-control-style:focus:-moz-placeholder {
    color: rgba(17,17,0,0.5);
}

.form-control-style:focus:-ms-input-placeholder {
    color: rgba(17,17,0,0.5);
}

.has-error .form-control,
.has-error .form-control:focus {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #e62b1e;
    color: #e62b1e;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.section-salutation:after {
	background-color: #fff
}
.guy {
	position: relative;
    left: 80px;
}
.item-contact {
	height: 260px
}
#dialog2 {
    background-color: #fff;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}
#formm{
    left: 15%;
}