/*event Name */

.event-header {
    background-image: url(../images/bg-stats.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;
}

.touch .event-header {
    background-attachment: static;
}

.event-header:before {
    content: "";
    background-color: #e62b1e;
    height: 100%;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
}

.event-header h1 {
    display: inline-block;
    color: #fff;
}

.event-header p {
    color: #fff;
}

.event-image img {
    width: 100%;
    max-height: 450px
}


/*date and time */

.event-date {
    background: #111;
    padding: 50px 0;
}

.timelineEvent {
    padding-left: 100px;
    position: relative;
}

.timelineEvent:before {
    content: "";
    border-left: 1px solid #eee;
    height: 100%;
    position: absolute;
    left: 20px;
}

.timelineEvent-title {
    margin-top: 28px;
    margin-bottom: 28px;
    padding-left: 100px;
    position: relative;
}

.timelineEvent-title img {
    border: 1px solid #eee;
    border-radius: 50%;
    height: 70px;
    padding: 15px 0;
    position: absolute;
    top: -30px;
    left: -15px;
    width: 70px;
}

.text-event h5 {
    margin-bottom: 20px;
    color: #eee;
}

.text-event p {
    margin-bottom: 20px;
    color: #fff;
}


/*join */

.item-join a {
    position: relative;
    top: 0;
    border: 1px solid #111;
    border-radius: 50%;
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 18px;
    text-align: center;
    transition: all .3s ease;
    margin: 0 auto;
    line-height: 0;
    font-size: 50px;
}

.item-join a:hover {
    top: -10px
}

.item-join img {
    height: 60px;
    width: 60px;
}

.item-join .item-join-heading {
    margin: 20px 0;
    transition: all .3s ease;
    font-weight: 100;
}

.item-join:hover .item-join-heading {
    color: #e62b1e;
}


/*gallery*/

.event-gallery .title-section-details {
    margin-bottom: 0;
}

.event-gallery .btn {
    background: #e62b1e;
    margin-top: 56px;
    color: #fff;
    border: 0;
}

.event-gallery .btn:hover {
    background: #000;
}


/*statistics event */

.event-state {
    background: #e62b1e;
}

.event-state .digits-item {
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
    margin-bottom: 30px;
}


/*talks event */

.event-talks {
    background: #eee;
}

.talk-item-event {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}

.talk-item-event .cover {
    background: #e62b1e;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    height: 270px;
}

.no-touch .talk-item-event .cover {
    cursor: default;
}

.touch .talk-item-event .cover {
    cursor: pointer;
}

.fit {
    height: 270px;
    overflow: hidden;
    position: relative;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.talk-item-event .cover:before {
    content: "";
    background: rgba(230, 43, 30, 0.5);
    border-radius: 4px 4px 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .6s ease;
    z-index: 1;
}

.talk-item-event .cover:hover:before {
    opacity: 1;
}

.talk-item-event .cover .badge {
    background: #fff;
    border-radius: 50%;
    display: block;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    width: 60px;
    transition: bottom .6s ease;
    z-index: 1;
    pointer-events: none;
}

.talk-item-event .cover:hover .badge {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    pointer-events: auto;
}

.talk-item-event .cover .badge:before,
.talk-item-event .cover .badge:after {
    content: "";
    border-top: 1px solid #e62b1e;
    height: 1px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 17px;
}

.talk-item-event .cover .badge:hover:before,
.talk-item-event .cover .badge:hover:after {
    border-color: #111;
}

.talk-item-event .cover .badge:after {
    border-left: 1px solid #e62b1e;
    height: 17px;
    width: 1px;
}

.talk-item-event .cover:hover .badge {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    pointer-events: auto;
}

.talk-item-event .badge svg {
    top: 0;
    left: 0;
    background-image: none;
}

.talk-item-event .caption {
    padding: 22px 30px 10px;
    min-height: 140px;
}

.talk-item-event h3 {
    font-size: 16px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.talk-item-event h3 a {
    color: #111;
}

.talk-item-event a {
    color: #555;
}

.talk-item-event a:hover {
    color: #e62b1e;
    text-decoration: none;
}

.talk-item-event .details {
    font-size: 12px;
    margin: 0;
    display: block;
}


/*event-partner*/

.event-partner img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.event-partner img:hover {
    -webkit-filter: none;
    filter: none;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*team*/

.event-team {
    background-image: url(../images/arrow-bg.svg);
    background-size: cover;
    background-position: center center;
    padding-top: 76px;
    padding-bottom: 80px;
}

.event-team .title-section-details {
    margin-bottom: 0;
}

.event-team .btn {
    color: #e62b1e;
    margin-top: 56px;
    border: none;
}

.event-team .btn:hover {
    color: #fff;
    background: #e62b1e;
}

.event-team .title-section,
.event-team p {
    color: #fff;
}

.event-team .title-section::before,
.event-team .title-section-left::before {
    border-color: #fff;
}


/*press*/

.event-press .owl-carousel .owl-item img {
    width: auto;
}
